.user {
  width: 100%;
}
.formTitle {
  width: 100%;
}
.formBody {
  width: 100%;
}
.like {
  cursor: pointer;
}
.comment {
  cursor: pointer;
}
.newForum {
  border-style: double;
}

.post {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.post tr:nth-child(even) {
  background-color: #f2f2f2;
}

.post tr:hover {
  background-color: #ddd;
}

.post th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: white;
}
.results {
  background-color: rgb(50, 130, 205);
}
